<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  
  <!-- for Testing-->
  <connectionStrings>
    <add name="AutoEdi" connectionString="Server=HPSlim; Database=TestDB; Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <!-- for production
  <connectionStrings>
    <add name="AutoEdi" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  -->
  <appSettings>
    <add key="CommandPath" value="C:\SYSPRO61\Base\IMPAUT.EXE"/>
    <add key="Operator" value="GGAO"/>
    <add key="Password" value="gary"/>
    <add key="Company" value="T"/>
    <add key="CompanyPassword" value="TEST"/>

    <!-- for production
    <add key="SqlCommand" value="SELECT i.Customer as MasterAccount, t.Customer ,t.Invoice FROM [SYSPRO2].[dbo].[ArTrnSummary] as t inner join [SYSPRO2].[dbo].[ArInvoice] as i on t.Invoice =i.Invoice where i.InvoiceDate = convert(date,GETDATE ()) and i.Customer in  ('0012563','0012562','0012561','0012560')"/>
    -->
    
    <!-- for production
    <add key="InvoicesFile" value="\\MBCSQL\SYSPRO61Server\EDI\UniSelect\Invoices.lst"/>
    -->
    <!-- for Testing    --> 
    <add key="SqlCommand" value="SELECT * from dbo.CustomerInvoice"/>
  
    <!-- for Testing-->
    <add key="InvoicesFile" value="C:\temp\Invoices.lst"/>
  </appSettings>
</configuration>
